body {
  color: #fff;
  font-weight: italic;
}
.mainbox {
  background: none;
  border: dotted 4px;
  border-color: #ffcd05;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
}
.homebox {
  background: none;
  border-color: ##1268ED;
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 250px;
}
h1 {
  color:#ea05ff;
  border: solid;
  font: georgia;
  font-size:50px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width:100%;
}
