body {
  color: #fff;
  font-weight: italic;
}
.mainbox {
  background: none;
  border: dotted 4px;
  border-color: #ffcd05;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
}
.homelinks {
  background: none;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 350px;
  margin-left: 300px;
  padding: 50px;
  position: fixed;
}
.homelinks:hover {
  background: none;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: 350px;
  margin-left: 250px;
  padding: 50px;
  position: fixed;
}
.homeright {
  background: none;
  width: 300px;
  height: auto;
  margin: auto;
  margin-top: 200px;
  right: 100px;
  position: absolute;
}
h1 {
  color:#ea05ff;
  border: solid;
  font: georgia;
  font-size:50px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  width:100%;
}
